################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/obj
/packages
/.vs/NbgmGong/v16/Server/sqlite3
/.vs/NbgmGong/v16/.suo
